/.vs
/VerivoxTariffComparison.Test/bin
/VerivoxTariffComparison.Test/obj
/Verivox.TariffComparison.Core/bin
/Verivox.TariffComparison.Core/obj
/Verivox.TariffComparison/bin
/Verivox.TariffComparison/obj
